@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;1,200&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&display=swap');

:root {
  --main-bg-color: #6d94b5;
  --main-text-color: #fcfbf9;;
  --primary-color: #CAB387;
  --secondary-color: #151c21;
}

* {
  font-family: "Playfair Display", "Mulish";
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
}